.logoNav {

    height: 80px;
    width: 100%;
    background-color: aqua;

}

.logoName {
    display:  flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}